body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
}

.header, .block-one, .footer {
    background-color: #1f2937;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
}

.right-links {
    display: flex;
    gap: 16px;
}

.header-logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.right-links, .text {
    font-size: 18px;
    color: #e5e7eb;
}



.block-one {
    display: flex;
    padding: 72px;
    gap: 16px;
    justify-content: space-between;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.image-container {
    display: flex;
    width: 400px;
    flex-shrink: 0;
    background-color: rgb(129, 138, 147);
}

.image {
    font-size: 18px;
    color: #e5e7eb;
    margin: auto;
}

.button-one {
    background-color: #3882f6;
    border-radius: 5px;
    border-width: 0;
    padding: 6px 24px;
    margin: 8px 0;
    color:  #f9faf8;
    font-weight: 900;
}


.block-two {

}

.pictures {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.picture {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    flex-shrink: 0;
}

.subtext {
    width: 150px;
    font-size: 18px;
    color: dimgray;
    padding-top: 4px;
    padding-bottom: 72px;
}

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading-two {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 32px;
}


.block-three {
    display: flex;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;   
    color: #1f2937;
}

.quote-text {
    padding: 72px 196px;
}

.author {
    font-weight: 900;
    font-size: 24px;
    text-align: end;
    padding: 0 64px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 72px 156px;
    padding: 48px 144px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.banner-button, .call {
    color: #f9faf8;
}

.call {
    font-size: 32px;
    font-weight: bold;
}

.banner-button {
    border: 4px solid #f9faf8;
    background-color: #3882f6;
    flex-shrink: 0;
    border-radius: 10px;
    border-width: 3px;
    padding: 6px 40px;
    margin: 8px 0;
    font-weight: 900;
    font-size: 18px;
}

.banner-subtext {
    color: lightgray;
    font-size: 24px;
}


.footer {
    font-size: 20px;
    font-weight: 500;
    color: lightgray; 
    display: flex;
}

.copyright {
    margin: auto;
    padding: 36px;
}
